*{
	margin: 0;
	text-decoration: none;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #b2b2b2;
	font-size: 1vw;
}

nav{
	position: absolute;
	width: 100%;
	top: 3%;
}

nav div{
	display: inline-block;
}

ul{
	padding-right: 30px;
}

.cover{
	position: relative;
}

img{
	width: 100%;
}

li{
	display: inline-block;
	margin: 0 14px;
}

button{
	font-family: 'Montserrat', sans-serif;
	width: 80%;
	line-height: 3em;
	border: 1px solid white;
	background-color: white;
	color: black;
	border-radius: 3%;
	margin-top: 10%;
	font-size: 1em;
	font-weight: 700;
}

.icons{
	float: right;
}

.brands{
	float: left;
	padding-left: 4%;
	letter-spacing: 2px;
}

.brands a{
	color: #b2b2b2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;

}

.logo{
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.header{
	width: 50%;
	position: absolute;
	left: 15%;
	top: 20%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.8em;
}

.subheader{
	width: 40%;
	float: right;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 0.4em;
	font-weight: 500;
	padding-right: 20%;
	color: #b2b2b2;
}

.fa-align-justify
{
	position: absolute;
	color: white;
	font-size: 16px;
	top: 3%;
	right: 3%;
}


#grad{
	position: absolute;
	top: 0;
}
#burger{
	display: none;
}



@media only screen and (max-width: 800px) {
    ul{
    	display: none;
    }
    #burger{
    	display: block;
    }
    .logo{
    	display: none;
    }
    .brands{
    	font-size: 10px;
    }
}












